@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jaldi', sans-serif; 
}

.navbar {
    position: sticky;
    top: 0;
    z-index: 1000; 
    background-color: #174F50;
}


h1 {
    color: #0B2E2E;
    justify-content: center;
    text-align: center;
    margin-top: 100px;
    font-size: 2.5rem;
}

.buscar{
    margin: 0 auto;
    padding: 5px;
    align-items: center;
    text-align: center; 
    display: flex; 
    max-width: 300px;
    
}


.buscar input{
    flex: 1; /* Ocupa todo el espacio disponible */
    width: auto; /* Ajusta el ancho automáticamente */
    height: 40px;
    padding: 0 20px;
    font-size: 18px;
    color: #000;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    
}


.button{
  /*   top: 0;
    right: 0; */
    background:#174F50;
    width: 50px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #f2f2f2;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
}


.eventos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 100px;
}

.evento {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
}

.evento img {
    max-width: 50%;
    height: auto;
}

.evento .image img{
    transition: transform 0.3s ease;
}
.evento .image img:hover {
    transform: scale(1.1); /* Escalamos la imagen al 110% en hover */
}

.evento-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 20px;
    background-color:  #eee5d6;
}

.evento:nth-child(odd) .evento img {
    order: 0; /* La imagen a la izquierda en eventos impares */
}

.evento:nth-child(odd) .evento-info {
    order: 1; /* Nombre y descripción a la derecha en eventos impares */
}

.evento:nth-child(even) .evento img {
    order: 2; /* La imagen a la derecha en eventos pares */
}

.evento:nth-child(even) .evento-info {
    order: -1; /* Nombre y descripción a la izquierda en eventos pares */
}

.evento-name {
    /*font-size: 24px;*/
    margin-bottom: 10px;
    color: #0B2E2E;
    font-size: 2.5rem;
}

.evento-descripcion {
    font-size:  1.5rem;
}


.btn{
    /* display: inline-block; */
    padding: 8px 16px;
    margin: 0 auto 16px; 
    background-color: #174F50;
    text-decoration: none;
    border-radius: 5px;
    color: #f2f2f2;

    margin-top: 16px; 
    margin-bottom: 16px; 
    /* margin-left: auto;  *//* Alineamos el botón al final del contenedor */
    /* margin-right: auto; */ /* Alineamos el botón al final del contenedor */
}


.btn:hover{
    background-color:#b1a48d;
    color: #174F50;
}


@media screen and (max-width: 768px) {
    h1 {
        font-size: 2rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
    .evento-name {
        font-size: 1.5rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
    .evento-descripcion {
        font-size: 1rem; /* Tamaño de fuente más pequeño para pantallas pequeñas */
    }
}
