@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
footer {
    margin-top: 30px;
    background-color: #DFD6C7;
    color: #174F50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
  }

  footer a {
    text-decoration: none;
    color: #174F50;
    margin-right: 20px;
    margin-bottom: 10px;
  }

  
  @media screen and (max-width: 768px) {
    footer {
      flex-direction: column; 
      align-items: flex-start; 
    }

    footer a {
      margin-right: 0; }
  }