@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
  color: #000202;
  background-color: #f8f9fa; 
}
.container-main .container-b{
  background-color: #DFD6C7; 
  margin-top: 30px;


}
.container-main .container-s{
  background-color: #174F50;
  font-family: 'Jaldi', sans-serif;

}
.contacto #btn-contacto {
  background-color: #C1AD70;
  color: #fff;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 80px;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 20px;
  font-family: 'Jaldi', sans-serif;
  font-size: 18px;
  font-weight: bold;
  border: none;
}

h2{
  font-weight: bold !important;
  text-align: center !important;
  color: #174F50 !important;
  font-size: 40px !important;
}


.carousel {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  overflow:scroll;
  position: relative;
}

.cards {
  display: flex;
  justify-content: space-between;
  margin-left: 10%;
  margin-right: 10%
}

.card {
  width: 300px;
  padding: 30px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.card img {
  width: 100%;
  border-radius: 8px;
}

img.inicio-banner {
  max-width:800px;
}
.card-info {
  margin-top: 15px;

}
.card-info p{
  color: #174F50;
}
.card-btn {
  color: #174F50;
  text-decoration: none;
  font-weight: bold;
  font-size: 20px;
}

.container h3{
  font-size: 1.7em;
  margin-top: 10px;
}

.container p{
  font-size: 1em;
  text-align: center;
  margin-top: 8%;
}

#img-cont{
  object-fit: cover;
  width: 450px;
  height: 450px;
}

#btn-contactanos {
  margin-top: 40px;
  background-color: #C1AD70;
  color: #fff;
  padding: 5px 30px;
  text-decoration: none;
  border-radius: 80px;
  margin-bottom: 40px;
  width: 300px;
  margin-right: 20px;
  font-size: 18px;
  border: none;
}

#btn-contacto:hover{
  background-color: #DFD6C7;
}

#btn-contactanos:hover{
  background-color: #DFD6C7;
}

.gastronomia-inicio img
{
  /*
  width: 448px !important;
  height: 494px !important;
  padding: 10px;
  */
  margin-bottom: 20px;
  justify-content: space-around;
  align-content: center;
}
/*
.gastronomia-inicio .row-2 img{
  margin-left: 185px !important;
  padding: 20px;
  margin-top: 20px;
  border-radius: 25px !important;
}
*/
.gastronomia-inicio .img-thumbnail{
  background-color: #C1AD70;
  border: none !important;
  border-radius: 20px !important;
}
.gastronomia-inicio .img-thumbnail:hover{
  background-color: #174F50;
}

.titulo-in{
  font-family: 'Jaldi', sans-serif;
}


@media (max-width: 768px) {
  img.inicio-banner {
    max-width:300px;
  }

}
