@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
   font-family: 'Jaldi', sans-serif !important;;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #174F50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: auto;
    width: 100%;
    margin-top: 0;
    position: absolute;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 3;
    font-size: 1.4rem;
}
.custom-toggler.navbar-toggler {
    border-color: rgb(212, 166, 12);
    color: #174F50;
    margin-right: 30px;

}
.custom-toggler .navbar-toggler-icon {
    background-image: url(
"data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 128, 0, 0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
img.logo {
    max-height: 90px;
}

.menu {
 
   
}

.menu li {
    background-color: #174F50;
    padding: 0px 15px;
    white-space: nowrap;
}

.menu li a {
    color: #fff;
    padding: 10px 15px 20px;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* Fuente en negrita */
}

.menu li a:hover {
    background-color: #0B2E2E;
    border-radius: 10px;
}

.contacto #btn-contacto {
    background-color: #C1AD70;
    color: #fff;
    /* Cambia el color de la letra */
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 80px;
    margin-top: auto;
    /* Margen superior automático para centrar */
    margin-bottom: auto;
    /* Margen inferior automático para centrar */
    margin-right: 20px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.2);
    }

    100% {
        transform: scale(1);
    }
}
.contacto #btn-contacto:hover {
    background-color: #C9BB8F;
    color: #4C4637;
    animation: pulse 1s infinite alternate;
    border: none;

}
  
@media (max-width: 425px) {

  
    img.logo {
        max-height: 50px;
    }
}    