@import url('https://fonts.googleapis.com/css2?family=Jaldi&family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #174F50;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    height: 90px;
    /* Altura de 180px */
    width: 100%;
    margin-top: 0;
    /* Margen superior de 0 */
    position: absolute;
    top: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    
}

.logo img {
    width: 142px;
    height: 80px;
}

.menu {
    list-style-type: none;
    margin-left: 500px;
    padding: 0;
    display: flex;
    margin-top: 15px;
   
}

.menu li {
    margin-left: auto;
    /* Mueve los elementos al extremo derecho */
}

.menu li a {
    color: #fff;
    text-decoration: none;
    padding: 10px 15px;
    font-family: 'Jaldi', sans-serif;
    font-size: 20px;
    font-weight: bold;
    /* Fuente en negrita */
}

.menu li a:hover {
    background-color: #0B2E2E;
    border-radius: 10px;
    /* Agrega border-radius al hacer hover */
}


.contacto .btn-contacto {
    background-color: #C1AD70;
    color: #fff;
    /* Cambia el color de la letra */
    padding: 5px 30px;
    text-decoration: none;
    border-radius: 80px;
    margin-top: auto;
    /* Margen superior automático para centrar */
    margin-bottom: auto;
    /* Margen inferior automático para centrar */
    margin-right: 20px;
    font-family: 'Jaldi', sans-serif;
    font-size: 18px;
    font-weight: bold;
    border: none;
}



@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.3);
    }

    100% {
        transform: scale(1);
    }
}
.contacto .btn-contacto:hover {
    background-color: #C9BB8F;
    color: #4C4637;
    animation: pulse 0.5s infinite alternate;
    border: none;

}

