#nosotros {
    display: flex;
    width: 70%;
    height: 40%;
    background-color: rgb(102, 80, 80);
    margin-left: 15%;
    margin-right: 15%;
    word-wrap: break-word;
    border-radius: 10px;
    margin-top: 7em;
  }
#nosotros h2 { 
  
    color: #fbe4be;
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
}

  #nosotros p {
    font-size: 1.2em;
    text-align: justify;
    flex-wrap: nowrap;
    color: #fbe4be;
    margin-top: 2em;
    font-weight: lighter;
    margin-left: 22em;
    margin-right: 1.5em;
  }
  
  /* #nosotros button {
    display: flex;
    background-color: #fbe4be;
    padding: 0.5em 1em;
    font-family: "Noto Serif Display", serif;
    font-weight: 600;
    font-size: 16px;
    border-radius: 50px;
    border: none;
    color: #fdf4e6;
    text-decoration: none;
    box-shadow: #464646;
    margin-left: 45%;
    margin-bottom: 1em;
    margin-top: 1em;
    cursor: pointer;
  }
  
  .nosotros button:hover {
    background-color: #f8e9cdad;
    color: #822f74;
    border-radius: 10px;
    transform: scale(1.1);
  } */
  
  #nosotros div img {
    object-fit: cover;
    float: left;
    width: 350px;
    height: 350px;
    margin-left: 2em;
    border-style: groove;
    margin-top: 3.5em;
  }
 
  #experiencias{
    width: 70%;
    height: 40%;
    margin-left: 15%;
    margin-right: 15%;
    word-wrap: break-word;
    border-radius: 10px;
    margin-top: 7em;
  }

  #experiencias h2 {
    width: 22vw;
    height: fit-content;
    color: #fbe4be;
    font-size: 2.2rem;
    text-align: center;
    font-style: italic;
    font-weight: bolder;
    background-color:rgb(102, 80, 80);
    margin-left: 35%;
    border-radius: 1cm;

  }
  
  .imgexp {
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    float: left;
  }
  
  .clientes ul {
    flex-direction: column;
    float: right;
    list-style: none;
    margin-bottom: 5em;
    margin-top: 2em;
    padding: 1em;
    text-align: center;
  }
  
  .clientes ul li{
    float: left;
    padding: 10px;
    margin-top: 2em;
  }
  
  .clientes ul li:nth-child(1) {
    background-color: rgb(102, 80, 80);
    width: 50vw;
    height: auto;
    border-radius: 2%;
    float: left;
  }
  
  .clientes ul li:nth-child(2) {
    background-color: rgb(102, 80, 80);
    width: 50vw;
    height: auto;
    border-radius: 2%;
    float: right;
  }
  .clientes ul li:nth-child(3) {
    background-color: rgb(102, 80, 80);
    width: 50vw;
    height: auto;
    border-radius: 2%;
  }
  .clientes ul li:nth-child(4) {
    background-color: rgb(102, 80, 80);
    width: 50vw;
    height: auto;
    border-radius: 2%;
    float: right;
  }