#nosotros {
  display: flex;
  width: 90%;
  max-width: 1500px;
  height: 650px;
  background-color: #174f50;
  margin: auto;
  word-wrap: break-word;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  
}

#nosotros h2,
#nosotros p,
#experiencias h2,
#experiencias p {
  text-align: center;
  color: #fbe4be;
  
}

#nosotros h2 {
  font-size: 40px;
  font-style: italic;
  font-weight: bolder;
  margin-left: 55%;
  font-weight:700;
}

#nosotros p {
  font-size: 22px;
  flex-wrap: nowrap;
  margin-top: 1em;
  font-weight: lighter;
  margin-left: 55%;
}

#nosotros div img {
  object-fit: cover;
  float: left;
  width: 500px;
  height: 500px;
  margin-left: 5%;
  border-style: groove;
}

#experiencias {
  width: 80%;
  height: 40%;
  margin: auto;
  word-wrap: break-word;
  border-radius: 10px;
  margin-top: 30px;
  color: #fbe4be;
}

#experiencias p {
  font-weight: lighter;
  font-size: 21px;
  margin-top: 5%;
  margin-left: 25%;
  margin-right: 10px;
}

#experiencias h2 {
  width: 800px;
  height: fit-content;
  font-size: 2.7rem;
  font-style: italic;
  font-weight:700;
  background-color: #174f50;
  margin: auto;
  border-radius: 0.5cm;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.imgexp {
  width: 170px;
  height: 170px;
  object-fit: cover;
  border-radius: 50%;
  float: left;
  outline-style: solid;
  margin-left: 3%;
  margin-top: 5%;
  margin-bottom: 5%;
}

.clientes ul {
  display: flex;
  margin: auto;
  flex-direction: column;
  list-style: none;
  margin-bottom: 5%;
  padding: 1em;
  text-align: center;
  align-items: center;
  
}

.clientes ul li {
  padding: 10px;
  margin-top: 2em;
  background-color: #174f50;
  width: 850px;
  height: 275px;
  border-radius: 2%;
  border-style: ridge;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.clientes ul li:nth-child(2) {
  height: fit-content;
  .imgexp{
    margin-top: 8%;
  }
}

.clientes ul li:nth-child(4) {
  height: fit-content;
  .imgexp {
    margin-top: 15%;
  }
}

@media only screen and (max-width: 768px) {
  #nosotros,
  #experiencias {
    width: 100%;
    height: fit-content;
    margin-top: 10%;
    margin-left: 0;
    margin-right: 5%;
    border-radius: 0;
  }
  #nosotros div img {
    width: 90vw;
    height: 15vh;
  }
  #nosotros p {
    float: inline-end;
    margin-left: 1em;
    margin-right: 1em;
  }
  #nosotros h2 {
    margin-left: 0;
  }
  #experiencias h2,
  #experiencias p {
    margin-left: 0;
    width: 100%;
    border-radius: 15px;
  }

  .clientes ul li {
    width: 100%;
    border-radius: 10px;
    margin-left: 0;
    margin-right: 0;
  }
}

#map{
 width: fit-content;
 height: fit-content;
 margin: auto;
 margin-top: 75px;
 margin-bottom: 50px;
 align-content: center;
 text-align: center;
 
}

#mapframe{
  margin-top: 10px;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

#map h2{
  font-size: 2.7rem;
  font-style: italic;
  font-weight:700;
  border-radius: 0.5cm;
  background-color:#174f50;
  color: #fbe4be;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}